<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sectionId</key>
		<integer>0</integer>
		<key>title</key>
		<string>Уведомления</string>
		<key>isExpandable</key>
		<false/>
		<key>items</key>
		<array>
			<dict>
				<key>itemId</key>
				<integer>0</integer>
				<key>title</key>
				<string>Все</string>
			</dict>
			<dict>
				<key>itemId</key>
				<integer>1</integer>
				<key>title</key>
				<string>Непрочитанные</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
