<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sectionId</key>
		<integer>0</integer>
		<key>title</key>
		<string>Incoming</string>
		<key>isExpandable</key>
		<true/>
		<key>items</key>
		<array>
			<dict>
				<key>itemId</key>
				<integer>0</integer>
				<key>title</key>
				<string>New</string>
			</dict>
			<dict>
				<key>itemId</key>
				<integer>1</integer>
				<key>title</key>
				<string>In progress</string>
			</dict>
			<dict>
				<key>itemId</key>
				<integer>2</integer>
				<key>title</key>
				<string>Unconfirmed</string>
			</dict>
			<dict>
				<key>itemId</key>
				<integer>3</integer>
				<key>title</key>
				<string>Overdue</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionId</key>
		<integer>1</integer>
		<key>title</key>
		<string>Outgoing</string>
		<key>isExpandable</key>
		<true/>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>sectionId</key>
		<integer>2</integer>
		<key>title</key>
		<string>Personal</string>
		<key>isExpandable</key>
		<true/>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>sectionId</key>
		<integer>3</integer>
		<key>title</key>
		<string>Observed</string>
		<key>isExpandable</key>
		<true/>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>sectionId</key>
		<integer>4</integer>
		<key>title</key>
		<string>Archive</string>
		<key>isExpandable</key>
		<true/>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>sectionId</key>
		<integer>5</integer>
		<key>title</key>
		<string>Templates</string>
		<key>isExpandable</key>
		<true/>
		<key>items</key>
		<array/>
	</dict>
	<dict>
		<key>sectionId</key>
		<integer>6</integer>
		<key>title</key>
		<string>Filters</string>
		<key>isExpandable</key>
		<true/>
		<key>items</key>
		<array/>
	</dict>
</array>
</plist>
