<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sectionId</key>
		<integer>0</integer>
		<key>title</key>
		<string>Tasks</string>
		<key>isExpandable</key>
		<false/>
		<key>items</key>
		<array>
			<dict>
				<key>itemId</key>
				<integer>0</integer>
				<key>title</key>
				<string>All</string>
			</dict>
			<dict>
				<key>itemId</key>
				<integer>1</integer>
				<key>type</key>
				<integer>1</integer>
				<key>title</key>
				<string> Overdue</string>
			</dict>
			<dict>
				<key>itemId</key>
				<integer>2</integer>
				<key>title</key>
				<string>Inbox</string>
			</dict>
			<dict>
				<key>itemId</key>
				<integer>3</integer>
				<key>type</key>
				<integer>2</integer>
				<key>title</key>
				<string>New</string>
			</dict>
			<dict>
				<key>itemId</key>
				<integer>4</integer>
				<key>type</key>
				<integer>2</integer>
				<key>title</key>
				<string>Viewed</string>
			</dict>
			<dict>
				<key>itemId</key>
				<integer>5</integer>
				<key>title</key>
				<string>Outbox</string>
			</dict>
			<dict>
				<key>itemId</key>
				<integer>6</integer>
				<key>type</key>
				<integer>2</integer>
				<key>title</key>
				<string>Upon verification</string>
			</dict>
			<dict>
				<key>itemId</key>
				<integer>7</integer>
				<key>type</key>
				<integer>2</integer>
				<key>title</key>
				<string>Refused</string>
			</dict>
			<dict>
				<key>itemId</key>
				<integer>8</integer>
				<key>title</key>
				<string>Оbserved</string>
			</dict>
			<dict>
				<key>itemId</key>
				<integer>11</integer>
				<key>title</key>
				<string>On agreement</string>
			</dict>
			<dict>
				<key>itemId</key>
				<integer>9</integer>
				<key>title</key>
				<string>Archive</string>
			</dict>
			<dict>
				<key>itemId</key>
				<integer>10</integer>
				<key>title</key>
				<string>Templates</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
